<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-periodo-agregar'">
	<div class="row">
  		<div class="card col s12 m8 l6 offset-m2 offset-l3">
    		<div class="card-content ">
				<h5 class="center">Agregar Períodos </h5>
				<div class="divider"></div>
				<form #f="ngForm" class="col s12" (ngSubmit)="doSubmit()" >
					<div class="row ">
				      	<div class="col s6">
					        <div class="input-field">
					          	<input id="date" 
						          type="text" 
						          class="datepicker center-align" 
						          materialize="pickadate" 
						          [materializeParams]="[datepickerset]" 
						          name="inicio" 
						          [(ngModel)]="inicio" 
						          required
						          #periodos1="ngModel">
					          	<div class="form-control-feedback"
								     *ngIf="periodos1.errors && (periodos1.dirty || periodos1.touched)">
									<p class="center red-text" *ngIf="periodos1.errors.required" >*Este campo en obligatorio</p>
								</div>
					          	<label for="date">Fecha de Inicio</label>
					        </div>
				      	</div>
				      	<div class="col s6">
					        <div class="input-field">
					          	<input id="date" 
						          type="text" 
						          class="datepicker center-align" 
						          materialize="pickadate" 
						          [materializeParams]="[datepickerset]"
						          name="final" 
						          [(ngModel)]="final" 
						          required
						          #periodos2="ngModel">
					          	<div class="form-control-feedback"
								     *ngIf="periodos2.errors && (periodos2.dirty || periodos2.touched)">
									<p class="center red-text" *ngIf="periodos2.errors.required" >*Este campo en obligatorio</p>
								</div>
					          	<label for="date">Fecha de Culminación</label>
					        </div>
				      	</div>
				    </div>
				    <div class="row">
					    <div class="card-action">
					    	<div class="col s12 m12 l12">
					    		<a  class="right " (click)="doSubmit()"> Enviar</a>
							    <a class="left" (click)="goBack()">Regresar</a>
					    	</div>
					    </div>	
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-periodo'">
	<div class="row ">
  		<div class="card col s12 m8 l6 offset-m2 offset-l3">
    		<div class="card-content ">
    			<div class="row">
					<h5 class="center">Periodos</h5>
					<div class="divider"></div>
					<p *ngIf="periodo.length === 0" class="red-text center"> No hay peridos agregados</p>
					<table *ngIf="periodo.length > 0" class="centered">
				        <thead>
				          <tr>
				              <th>Periodo</th>
				              <th>--</th>
				              <th>Eliminar periodo</th>
				          </tr>
				        </thead>
				        <tbody>
				        	<tr *ngFor="let periodos of periodo | paginate: { itemsPerPage: 5, currentPage: p }">
					            <td>{{periodos.descrip_peri}}</td>
					            <td>
					            	
					            </td>
					             <td>
					             	<swal
						                #deleteSwal
						                title="Eliminar grado"
						                text="¿Esta seguro que desea eliminar este periodo?"
						                type="question"
						                [showCancelButton]="true"
						                (confirm)="borrarPer(periodos.id_periodo)">
						            </swal>
					             	<button [swal]="deleteSwal">
						             	<img src="assets/icons/icons8-cancel-80.png">
						             </button>
					             </td>
				        	</tr>
				        </tbody>
				    </table>
				    <div class="col s12 m8 l12  offset-s2 offset-m2 offset-l3">
						<pagination-controls
					 		(pageChange)="p = $event"
			                responsive="true"
			                previousLabel="Anterior"
			                nextLabel="Siguiente" 
			                class="pagination my-pagination">       	
			            </pagination-controls>
					</div>
					<div class="card-action">
				      <a routerLink='/app-menu' class="right">Ir al menú</a>
				      <a class="left" (click)="goBack()">Regresar</a>
				    </div>
    			</div>
			</div>
		</div>
		<div class="row">
			<div class="col col s12 m12 l6 offset-l3">
  				<a class="btn-floating btn-large waves-effect waves-light black right tooltipped" 
  				routerLink='/app-periodo-agregar'
		        materialize="tooltip" 
		        data-position="right" 
		        data-delay="10" 
		        data-tooltip="Agregar Periodos">
					<i class="material-icons">add</i>
				</a>

			</div>
			
		</div>
	</div>
</div>
