<div class="row" style="padding-top: 40px">
	<div class="col s12 m7 l6 offset-l3">
	  <div class="card">
	    <div class="card-content">
	       <div class="row">
	       		<h5 class="center-align">Notas Descriptivas</h5>
	       		<div class="divider"></div>
			    <form class="col s12" *ngFor="let estudiantes of estudiantes" (ngSubmit)="doSubmit()">
				    <div class="row">
				        <div class="input-field col s6">
				          <input id="first_name" type="text" class="validate" name="nombres" value="{{estudiantes.nombres}} ">
				          <label for="first_name">Nombres</label>
				       </div>
				        <div class="input-field col s6">
				          <input id="last_name" type="text" class="validate" name="apellidos" value="{{estudiantes.apellidos}}">
				          <label for="last_name">Apellidos</label>
				        </div>
				    </div>
			    	<div class="row">
				        <div class="col l4">
				          <div class="input-field inline">
				            <input id="cedula" type="number" class="validate" name="grados" [(ngModel)]="estudiantes.id_grados">
				            <label for="cedula">Grado</label>
				          </div>
				        </div>
				        <div class="col s6 l4">
					         <div class="input-field inline">
						        <input id="seccion" type="text" class="validate" name="seccion" [(ngModel)]="estudiantes.id_seccion">
						        <label for="telefono">Sección</label>
					        </div>
					     </div>
				        <div class="col s6 l4">
				          <div class="input-field inline">
				            <input id="telefono_celu" type="text" class="validate" name="periodos" [(ngModel)]="estudiantes.periodos">
				            <label for="telefono">Periodo</label>
				          </div>
				        </div>
			    	</div>
				    <div class="row">
			          <div class="input-field col s12">
			            <textarea id="textarea2" class="materialize-textarea" data-length="20" materialize="characterCounter" [attr.length]="maxLength" name="proyecto" [(ngModel)]="notas.proyecto"> </textarea>
			            <label for="textarea2">Nombre del Proyecto</label>
			          </div>
			        </div>
				    <div class="row">
			          <div class="input-field col s12">
			            <textarea id="textarea2" class="materialize-textarea" data-length="1199" materialize="characterCounter" [attr.length]="maxLength" name="descrip_1" [(ngModel)]="notas.descrip_1" > </textarea>
			            <label for="textarea2">FORMACIÓN PERSONAL, SOCIAL Y COMUNICACIÓN:</label>
			          </div>
			        </div>
				    <div class="row">
			          <div class="input-field col s12">
			            <textarea id="textarea2" class="materialize-textarea" data-length="1199" materialize="characterCounter" [attr.length]="maxLength" name="descrip_2" [(ngModel)]="notas.descrip_2"> </textarea>
			            <label for="textarea2">RELACIÓN ENTRE COMPONENTES DEL AMBIENTE:</label>
			          </div>
			        </div>
				    <div class="row">
			          <div class="input-field col s12">
			            <textarea id="textarea2" class="materialize-textarea" data-length="1199" materialize="characterCounter" [attr.length]="maxLength" name="descrip_3" [(ngModel)]="notas.descrip_3"> </textarea>
			            <label for="textarea2">RECOMENDACIONES AL REPRESENTANTE:</label>
			          </div>
			        </div>
			        <button class="btn waves-effect waves-light right" type="submit" name="action">
						Enviar
					</button>
			    </form>
			</div>
	    <div class="card-action">
	      <a class="left" (click)="pdf()">Enviar</a>
	      <a class="right" (click)="goBack()">Regresar</a>
	    </div>
	  </div>
	</div>
</div>
