<div class="row" *ngIf="hideElement==true && hideElement1 === true">
	<div class="col s12 m6 l6 offset-m3 offset-l3">
	    <div class="card">
       		<h5 class="center-align">Tipo de Boletin</h5>
       		<div class="divider"></div>	
	    	<div class="card-content">
		       <div class="row">
			       	<nav class="nav-extended">
			       		<div class="container ">
						    <div class="nav-content">
						      <ul class="tabs tabs-transparent">
						        <li class="tab left">
						        	<a (click)="escuelaInicial()">Etapa inicial</a>
						        </li>
						        <li class="tab right">
						        	<a (click)="escuelaBasica()">Etapa Básica</a>
						        </li>
						      </ul>
						    </div>
			       		</div>
					</nav>
		    	</div>
			 </div>
		</div>
	</div>
</div>		  

<div *ngIf="hideElement1 == false || hideElement == false">
	<div class="row">
		<div class="col s12 m6 l6 offset-m3 offset-l3">
		    <div class="card">
		    	<div class="card-content">
			       <div class="row">
				       	<h5 class="center-align">Boletín Descriptivo</h5>
				       	<div class="divider"></div>
					    <div class="row">
					        <div class="input-field col s6 m6 l6">
					          <input id="first_name" 
					          type="text" 
					          class="validate" 
					          name="descrip_1"
					          value="{{estudiantes.nombres}}"
					          readonly="readonly">
					          
					       </div>
					        <div class="input-field col s6 m6 l6">
					          <input id="last_name" 
					          type="text" 
					          class="validate" 
					          name="apellidos" 
					          value ="{{estudiantes.apellidos}}" 
					          readonly="readonly">
			
					        </div>
					    </div>
				    	<div class="row">
					        <div class="col s4 m4 l4">
					          <div class="input-field inline">
					            <input id="grados" 
					            type="text" 
					            class="validate" 
					            name="grados" 
					            value ="{{estudiantes.descrip_gra}}"
					            readonly="readonly">
					          </div>
					        </div>
					        <div class="col s4 m4 l4 ">
						         <div class="input-field inline">
							        <input id="seccion" 
							        type="text" 
							        class="validate" 
							        name="seccion" 
							        value ="{{estudiantes.descrp_sec}}"  
							        readonly="readonly">
						        </div>
						     </div>
					        <div class="col s4 m4 l4">
					        	<div class="input-field inline">
						          	<input id="periodo" 
						          	type="text" 
						          	class="validate" 
						          	name="periodo" 
						          	value ="{{estudiantes.descrip_peri}}" 
						          	readonly="readonly">
					        	</div>
					        </div>
				    	</div>
				    	<form #f="ngForm">
						    <div class="row">
						    	<div class="col s6 m6 l6">
						          	<div class="input-field">
						            	<textarea 
								            id="textarea" 
								            class="materialize-textarea" 
								            data-length="100"
								            maxlength="100"
								            minlength="10" 
								            materialize="characterCounter" 
								            name="proyecto" 
								            [(ngModel)]="notas.proyecto"
								            #proyecto="ngModel"
								            required> 
							        	</textarea>
							            <div class="form-control-feedback"
										     *ngIf="proyecto.errors && (proyecto.dirty || proyecto.touched)">
											<p class="center red-text" *ngIf="proyecto.errors.required" >*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="proyecto.errors.minlength">*El campo no puede estar vacío</p>
										</div>
						            	<label for="textarea2">Nombre del Proyecto</label>
						          	</div>	
						    	</div>
					          	<div class="col s6 m6 l6">
						        	<div class="input-field">
							          	<select materialize="material_select" 
							          	name="lapso"
							          	[materializeSelectOptions]=""
							          	[(ngModel)]="notas.id_lapso"
							          	required
							          	#lapso="ngModel"
							          	(ngModelChange)="onChange($event)">
									      <option value="" disabled selected>Lapso</option>
									      <option [value]="1">Primer Lapso</option>
									      <option [value]="2">Segundo Lapso</option>
									      <option [value]="3">Tercer Lapso</option>
									    </select>
								    	<label>Seleccionar lapso</label>
						        	</div>
						        </div>
					        </div>
					        <div class="inicial" *ngIf="hideElement1==false">
							    <div class="row">
						        	<div class="input-field col s12">
							            <textarea 
							            id="textarea1" 
							            class="materialize-textarea" 
							            data-length="1000" 
							            materialize="characterCounter"
							            maxlength="1000"
							            minlength="10" 
							            name="descrip_1" 
							            [(ngModel)]="notas.descrip_1"
							            required 
							            #descrip_1="ngModel"> 
							        	</textarea>
							            <div class="form-control-feedback"
										     *ngIf="descrip_1.errors && (descrip_1.dirty || descrip_1.touched)">
											<p class="center red-text" *ngIf="descrip_1.errors.required" >*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="descrip_1.errors.minlength">*El campo no puede estar vacío</p>
										</div>
							            <label for="textarea2">FORMACIÓN PERSONAL, SOCIAL Y COMUNICACIÓN:</label>
						          	</div>
						        </div>
							    <div class="row">
						          	<div class="input-field col s12">
						            	<textarea id="textarea2" 
							            class="materialize-textarea" 
							            data-length="1000" 
							            maxlength="1000"
							            minlength="10" 
							            materialize="characterCounter"
							            name="descrip_2" 
							            [(ngModel)]="notas.descrip_2"
							            required
							            #descrip_2="ngModel"> 
							        	</textarea>
							            <div class="form-control-feedback"
										     *ngIf="descrip_2.errors && (descrip_2.dirty || descrip_2.touched)">
											<p class="center red-text" *ngIf="descrip_2.errors.required" >*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="descrip_2.errors.minlength">*El campo no puede estar vacío</p>
										</div>
						            	<label for="textarea2">RELACIÓN ENTRE COMPONENTES DEL AMBIENTE:</label>
						          	</div>
						        </div>
							    <div class="row">
						          	<div class="input-field col s12">
							            <textarea id="textarea3" 
							            class="materialize-textarea" 
							            data-length="500" 
							            materialize="characterCounter" 
							            [attr.length]="maxLength" 
							            maxlength="500"
							            minlength="5" 
							            name="descrip_3" 
							            [(ngModel)]="notas.descrip_3"
							            required
							            #descrip_3="ngModel">
							             </textarea>
							            <div class="form-control-feedback"
										     *ngIf="descrip_3.errors && (descrip_3.dirty || descrip_3.touched)">
											<p class="center red-text" *ngIf="descrip_3.errors.required" >*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="descrip_3.errors.minlength">*El campo no puede estar vacío</p>
										</div>
							            <label for="textarea2">RECOMENDACIONES AL REPRESENTANTE:</label>
						          </div>
						        </div>				        	
					        </div>
					        <div class="Basica" *ngIf="hideElement==false">
					        	<div class="row">
							        <div class="input-field col s12">
							            <textarea 
							            id="textarea1" 
							            class="materialize-textarea" 
							            data-length="1600" 
							            materialize="characterCounter"
							            maxlength="1600"
							            minlength="10" 
							            name="descrip_1" 
							            [(ngModel)]="notas.descrip_1"
							            required 
							            #descrip_1="ngModel"> </textarea>
							            <div class="form-control-feedback"
										     *ngIf="descrip_1.errors && (descrip_1.dirty || descrip_1.touched)">
											<p class="center  red-text" *ngIf="descrip_1.errors.required" >*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="descrip_1.errors.minlength">*El campo no puede estar vacío</p>
										</div>
							            <label for="center">RENDIMIENTO ESTUDIANTIL</label>
							        </div>
						        </div>
							    <div class="row">
						          	<div class="input-field col s12">
							            <textarea id="textarea2" 
							            class="materialize-textarea" 
							            data-length="170" 
							            maxlength="170"
							            minlength="10" 
							            materialize="characterCounter"
							            name="descrip_2" 
							            [(ngModel)]="notas.descrip_2"
							            required
							            #descrip_2="ngModel"> 
							        	</textarea>
							            <div class="form-control-feedback"
										     *ngIf="descrip_2.errors && (descrip_2.dirty || descrip_2.touched)">
											<p class="center red-text" *ngIf="descrip_2.errors.required">*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="descrip_2.errors.minlength">*El campo no puede estar vacío</p>
										</div>
							            <label for="textarea2">RECOMENDACIONES Y/O SUGERENCIAS PARA LOS ESTUDIANTES</label>
						          	</div>
						        </div>
							    <div class="row">
							        <div class="input-field col s12">
							            <textarea id="textarea3" 
							            class="materialize-textarea" 
							            data-length="170" 
							            materialize="characterCounter"
							            maxlength="170"
							            minlength="5" 
							            name="descrip_3"
							            [(ngModel)]="notas.descrip_3"
							            required
							            #descrip_3="ngModel">
							            </textarea>
							            <div class="form-control-feedback"
										     *ngIf="descrip_3.errors && (descrip_3.dirty || descrip_3.touched)">
											<p class="center red-text" *ngIf="descrip_3.errors.required" >*Este campo es obligatorio</p>
											<p class="center red-text" *ngIf="descrip_3.errors.minlength">*El campo no puede estar vacío</p>
										</div>
							            <label for="textarea2">RECOMENDACIONES  PARA LOS REPRESENTANTES</label>
							        </div>
						        </div>
						        <div class="row">
						        	<div *ngIf="vart == 3">
						        		<div class="col s8">
						        			<p style="margin-top: 1em;"> Felicidades su niño ha alcanzado el nivel superior de forma:</p>
						        		</div>
						          		<div class="input-field col s4">
								          	<select materialize="material_select" 
								          	name="nota_final" 
								          	[(ngModel)]="notas.nota_final" 
								          	required
								          	#nota_final="ngModel">
										      <option value="" disabled selected>Nota final</option>
										      <option value="Excelente">Excelente</option>
										      <option value="Aprobado">Aprobado</option>
										    </select>
										</div>
							        </div>
						        </div>
					        </div>
					    </form>
					    <div class="card-action">
					    	<a class="right waves-effect waves-teal" (click)="openModal()">Enviar</a>
					    	<a class="waves-effect waves-teal" (click)="goBack()">Regresar</a>
					    </div>
					</div>
		  		</div>
			</div>
		</div>
	</div>
</div>
<div id="modal_id" class="modal modal-fixed-footer " materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: false}]">
	<div class="modal-content">
		<h4 class="center-align">Calificación Cualitativa del Alumno</h4>	        
		<div class="divider"></div>
		<div class="row">
			<p>
				Antes de continuar... Debes escoger en la escala de calificación para determinar si el alumno supera los niveles de aprendizaje requeridos o no los alcanza.
			</p>
		</div>
		<div class="row center">
			<div class="col s6 m3 l3">
			    <input 
			     type="image" 
			     value="10" 
			     name="nota_cuali" 
			     (click)="notas.nota_cuali = 10" 
			     src="assets/icons/icons8-puzzled-80.png">
		    	<br><span> Recuperación </span>
		  	</div>
		  	<div class="col s6 m3 l3">
			     <input type="image" 
			     value="16" 
			     name="nota_cuali" 
			     (click)="notas.nota_cuali = 16" 
			     src="assets/icons/icons8-happy-80.png">
			    <br><span> Aprobado</span>
		  	</div>
		  	<div class="col s6 m3 l3">
			     <input 
			     type="image" 
			     value="18" 
			     name="nota_cuali" 
			     (click)="notas.nota_cuali = 18" 
			     src="assets/icons/icons8-wink-80.png">
			    <br><span > Destacado </span>
		  	</div>
		  	<div class="col s6 m3 l3">
				 <input 
				 type="image" 
				 value="20" 
				 name="nota_cuali" 
				 (click)="notas.nota_cuali = 20"
				 src="assets/icons/icons8-cool-80.png">
			    <br><span> Excelente</span>
		  	</div>
		</div> 
  	</div>
	<div class="modal-footer">
	    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
	    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Enviar</a>
  	</div>
</div>

