<div class="container" *ngIf="hideElement==true" >
	<div class="row">
  		<div class="card col s12 m6 l6 offset-m3 offset-l3 ">
    		<div class="card-content ">
				<h5 class="center">Notas Descriptivas </h5>
				<form #f="ngForm" class="col s12">
					<div class="divider"></div>
					<div class="row">
						<p class="center"> Debes seleccionar <strong>el grado y la sección </strong> de tu curso</p>
					</div>
					<div class="row">
				    	<div class="col s6 m6 l6">
				            <div class="input-field" >
							    <select materialize="material_select" 
							    name="id_grados" 
							    [(ngModel)]="estudiantes.id_grados" 
							    required
							    #id_grados="ngModel">
							      <option value="" disabled selected>Grados</option>
							      <option  *ngFor="let grados of grado" [(ngValue)]="grados.id_grados">{{grados.descrip_gra}}</option> 
							    </select>
							    <label>Seleccionar Grado</label>
							</div>
				        </div>
				        <div class="col s6 m6 l6">
				           <div class="input-field" >
							    <select 
							    materialize="material_select"
							     name="id_seccion" 
							     [(ngModel)]="estudiantes.id_seccion" 
							     required
							     #id_seccion="ngModel">
							      <option value="" disabled selected>Sección</option>
							      <option  *ngFor="let seccion of secciones" [(ngValue)]="seccion.id_seccion">{{seccion.descrp_sec}}</option> 
							    </select>
							    <label>Seleccionar Sección</label>
							</div>  	
				        </div>
				    </div>
				    <div class="row">
						<div class="col s6 m8 l9 offset-s3 offset-m2 offset-l4">
				           <div class="input-field inline">
					          	<select materialize="material_select" 
					          	[materializeSelectOptions]="" 
					          	name="periodos" 
					          	required 
					          	[(ngModel)]="estudiantes.id_periodo"
					          	#peridos="ngModel">
					          		<option value="" disabled selected>Periodos</option>
							      	<option  *ngFor="let periodos of periodo" [(ngValue)]="periodos.id_periodo">{{periodos.descrip_peri}}</option> 
							    </select>
							    <label>Seleccionar Periodo</label>
				        	</div> 	
				    	</div>
					</div> 
					<div class="row">
					    <div class="card-action">
					    	<a class="left" (click)="goBack()">Regresar</a>
						    <a class="right " (click)= "doSubmit()"> Enviar</a>
					    </div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container" *ngIf="hideElement==false">
	<div class="row">
		<div class="col s12 m12 l12">
			<table class="highlight centered responsive-table">
		        <thead>
		          <tr>
		              <th>Nombres</th>
		              <th>Apellidos</th>
		              <th>Correo</th>
		              <th>Celular</th>
		              <th>Agregar Notas</th>
		              <th>Boletines</th>
		              <th>         </th>
		          </tr>
		        </thead>
		        <tbody>
		          	<tr *ngFor="let estudiantes of e | paginate: { itemsPerPage: 5, currentPage: p }">
			            <td >{{estudiantes.nombres}}</td>
			            <td >{{estudiantes.apellidos}}</td>
			            <td >{{estudiantes.correo}}</td>
			            <td >{{estudiantes.celular}}</td>
			            <td>
			            	<a *ngIf="estudiantes.grupo.length == 0 || estudiantes.grupo.length == 1 || estudiantes.grupo.length == 2" routerLink='/app-notas/boletin-descrip/{{estudiantes.id_estudiantes}}'>
			            		<img src="assets/icons/icons8-add-64.png">
			            	</a>
			            	<p *ngIf="estudiantes.grupo.length > 2">--</p>
			            </td>
			           	<td *ngFor="let grupos of estudiantes.grupo">
			           		<swal
							  #deleteSwal
							  title="Eliminar boletin"
							  text="¿Esta seguro que desea eliminar este boletin?"
							  type="question"
							  [showCancelButton]="true"
							  (confirm)="borrarBole(grupos.id_notas_descrip)">
							</swal>
			           		<div *ngIf="grupos.id_lapso === 1">
				            	<a routerLink='/app-notas/boletin-descrip-detalles/{{grupos.id_notas_descrip}}'>
				            		<img src="assets/icons/icons8-open-view-64.png">
				            	</a>
				            	<button [swal]="deleteSwal">
				            		<img src="assets/icons/icons8-delete-view-80.png">
								</button>
			           		</div>
			           		<div *ngIf=" grupos.id_lapso === 2">
				            	<a routerLink='/app-notas/boletin-descrip-detalles/{{grupos.id_notas_descrip}}'>
				            		<img src="assets/icons/icons8-open-view-64.png">
				            	</a>
				            	<button [swal]="deleteSwal">
				            		<img src="assets/icons/icons8-delete-view-80.png">
								</button>
			           		</div>
			           		<div *ngIf=" grupos.id_lapso === 3" >
				            	<a routerLink='/app-notas/boletin-descrip-detalles/{{grupos.id_notas_descrip}}'>
				            		<img src="assets/icons/icons8-open-view-64.png">
				            	</a>
				            	<button [swal]="deleteSwal">
				            		<img src="assets/icons/icons8-delete-view-80.png">
								</button>
			           		</div>
			            </td>
		          	</tr>
		        </tbody>
		    </table>
		    <div class="col s12 m12 l12 offset-s3 offset-l3">
				<pagination-controls
			 		(pageChange)="p = $event"
	                responsive="true"
	                previousLabel="Anterior"
	                nextLabel="Siguiente" 
	                class="pagination my-pagination">       	
	            </pagination-controls>
			</div>			
		</div>		
	</div>	
</div>