<div class="container" *ngIf="hideElement==true" >
	<div class="notas ">
  		<div class="card">
    		<div class="card-content ">
				<h5 class="center">Notas Descriptivas </h5>
				<form class="col s12" (ngSubmit)="doSubmit()">
					<div class="divider"></div>
						<div class="row">
							<p class="center"> Debes seleccionar <strong>el grado y la sección </strong> de tu curso</p>
						</div>
					<div class="row">
				    	<div class="col s6 m6 l6">
				            <div class="input-field" >
							    <select materialize="material_select" [disabled]="isDisabled?true:null" name="id_grados" [(ngModel)]="estudiantes.id_grados" required>
							      <option value="" disabled selected>Grados</option>
							      <option  *ngFor="let grados of grado" [(ngValue)]="grados.id_grados">{{grados.descrip_gra}}</option> 
							    </select>
							    <label>Seleccionar Grado</label>
							</div>
				        </div>
				        <div class="col s6 m6 l6">
				           <div class="input-field" >
							    <select materialize="material_select" [disabled]="isDisabled?true:null" name="id_seccion" [(ngModel)]="estudiantes.id_seccion" required>
							      <option value="" disabled selected>Sección</option>
							      <option  *ngFor="let seccion of secciones" [(ngValue)]="seccion.id_seccion">{{seccion.descrp_sec}}</option> 
							    </select>
							    <label>Seleccionar Sección</label>
							</div>  	
				        </div>
				    </div>
					<div class="row">
					    <div class="col s10 m7 l7 offset-s1 offset-l2 right">
							<button class="btn waves-effect waves-light right" type="submit" name="action">
								Enviar
							</button>	
					    </div>
					</div> 					
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container" *ngIf="hideElement==false">
	<div class="row">
		<div class="col s12 m7 l8 offset-l4 ">
			<table class="highlight centered responsive-table">
		        <thead>
		          <tr>
		              <th>Nombres</th>
		              <th>Apellidos</th>
		              <th>Grado</th>
		              <th>Sección</th>
		              <th>Cargar Notas</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr *ngFor="let estudiantes of estudiantes">
		            <td>{{estudiantes.nombres}}</td>
		            <td>{{estudiantes.apellidos}}</td>
		            <td>{{estudiantes.id_grados}}</td>
		            <td>{{estudiantes.id_seccion}}</td>
		            <td>
		            	<a routerLink='/app-notas/boletin-descrip/{{estudiantes.id_estudiantes}}'>
		            		<img src="assets/icons/icons8-add-64.png">
		            	</a>
		            </td>
		          </tr>
		        </tbody>
		    </table>			
		</div>		
	</div>	
</div>