<div class="container">
	<div class="row">
	    <form [formGroup]="form" (ngSubmit)="doSomething()" class="col s12 m6 l6 offset-l3">
	    	<div class="card ">
		        <div class="card-content center">
		          <span *ngIf="route.snapshot.url[0].path == 'login'" class="card-title">Iniciar Sesión</span>
		          <span *ngIf="route.snapshot.url[0].path == 'signup'" class="card-title">Registrarse</span>
		          <div class="divider"></div>
			     	<div class="row">
				        <div class="input-field col s12">
				          <input type="email" class="form-control" name="username" [(ngModel)]="username" required formControlName="username">
				          <label for="email">Email</label>
				          
				        </div>
			      	</div>
				    <div class="row">
				        <div class="input-field col s12">
				          <input type="password" class="form-control" name="password" [(ngModel)]="password" required formControlName="password">
				          <label for="password">Password</label>
				        </div>
				    </div>
				    <p *ngIf="route.snapshot.url[0].path == 'login'" class="center">
				    	¿No estas registrado? <a routerLink="/signup">Registrarse</a>
				    </p>
					<p *ngIf="route.snapshot.url[0].path == 'signup'" class="center">
						¿Tienes una cuenta? <a routerLink="/login"> Iniciar Sesión </a>
					</p>
					<div class="card-action">
			          <a *ngIf="route.snapshot.url[0].path == 'login'" class="left" (click)="auth()">Enviar</a>
			          <a *ngIf="route.snapshot.url[0].path == 'signup'" class="left" (click)="doSignup()" >Enviar</a>
			          <button type="submit" class="left" [disabled]="!form.invalid" *ngIf="route.snapshot.url[0].path == 'login'">
			          	Enviar 
			          </button>

			          <a href="#" class="right">Regresar</a>
			        </div>
				</div>
			</div>
	    </form>
	</div>	
</div>