<div class="container">
	<div class="row ">
  		<div class="card col s12 m6 l6 offset-m3 offset-l3">
    		<div class="card-content ">
    			<div class="row"> 
    				<h5 class="center-align">Estudiantes</h5>
		       		<div class="divider"></div>
		       		<p *ngIf="estudiantes.length === 0" class="red-text center"> No hay estudiantes agregados</p>
					<ul *ngIf="estudiantes.length > 0" class="collection">
					    <li class="collection-item avatar" *ngFor="let estudiantes of estudiantes | paginate: { itemsPerPage: 5, currentPage: p }">
					    	<i class="material-icons circle">
					      		<img src="assets/icons/icons8-user-avatar-filled-50.png">
					    	</i>
					      <span class="title">{{estudiantes.nombres}} {{estudiantes.apellidos}}</span>
					      <p>{{estudiantes.descrip_gra}}<br>
					         {{estudiantes.descrp_sec}}
					      </p>
					      <a [routerLink]="['/app-detalles-estudiantes',estudiantes.id_estudiantes]" 
					       class="secondary-content tooltipped"
					       materialize="tooltip" 
					       data-position="right" 
					       data-delay="10" 
					       data-tooltip="Información del estudiante ">
					      	<i class="material-icons">
					      		<img src="assets/icons/icons8-info-80.png">
					      	</i>
					      </a>
					    </li>
					</ul>
					<div class="col l12">
						<pagination-controls
					 		(pageChange)="p = $event"
		                    responsive="true"
		                    previousLabel="Anterior"
		                    nextLabel="Siguiente" 
		                    class="pagination my-pagination">       	
			            </pagination-controls>
					</div>
    
					<div class="card-action">
					    <a routerLink='/app-menu' class="right">Ir al menú</a>
					    <a class="left" (click)="goBack()">Regresar</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>	