<div class="row" style="padding-top: 40px">
	<div class="col s12 m6 l6 offset-l3 offset-m3">
	  <div class="card">
	    <div class="card-content">
	       <div class="row">
	       		<h5 class="center-align">Agregar Estudiante</h5>
	       		<div class="divider"></div>
			    <form class="col s12">
			    	<div class="row">
				        <div class="col l4">
				          <div class="input-field inline">
				            <input id="cedula" type="number" class="validate" [(ngModel)]="estudiantes.cedula" required name="cedula">
				            <label for="cedula">Cédula</label>
				          </div>
				        </div>
				        <div class="col s6 l4">
					         <div class="input-field inline">
						          <input id="telefono_local" type="text" class="validate" name="nombres" [(ngModel)]="estudiantes.telefono" required>
						            <label for="telefono">Teléfono local</label>
					        </div>
					     </div>
				        <div class="col s6 l4">
				          <div class="input-field inline">
				            <input id="telefono_celu" type="text" class="validate" name="telefono" [(ngModel)]="estudiantes.celular" required>
				            <label for="telefono">Teléfono Celular</label>
				          </div>
				        </div>
			    	</div>
				      <div class="row">
				        <div class="input-field col s6">
				          <input id="first_name" type="text" class="validate" name="nombres" [(ngModel)]="estudiantes.nombres" required>
				          <label for="first_name">Nombres</label>
				        </div>
				        <div class="input-field col s6">
				          <input id="last_name" type="text" class="validate" name="apellidos" [(ngModel)]="estudiantes.apellidos" required>
				          <label for="last_name">Apellidos</label>
				        </div>
				      </div>
			      	<div class="row">
			        <div class="input-field col s12">
			          <input id="direcion" type="text" class="validate" name="direccion" [(ngModel)]="estudiantes.direccion" required>
			          <label for="disabled">Dirección</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="date" type="date" class="datepicker" materialize="pickadate" [materializeParams]="[{format: 'yyyy/mm/dd'}]" name="dateofbirth" [(ngModel)]="estudiantes.dateofbirth" required>
			          <label for="date">Fecha de Nacimiento</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="email" type="email" class="validate" name="correo" [(ngModel)]="estudiantes.correo" required>
			          <label for="email">Email</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="col s4 m4 l4">
			         	<div class="input-field" >
						    <select materialize="material_select" [disabled]="isDisabled?true:null" name="id_grados" [(ngModel)]="estudiantes.id_grados" required>
						      <option value="" disabled selected>Grados</option>
						      <option  *ngFor="let grados of grado" [(ngValue)]="grados.id_grados">{{grados.descrip_gra}}</option> 
						    </select>
						    <label>Seleccionar Grado</label>
						</div>
			        </div> 
			        <div class="col s4 m4 l4">
			          <div class="input-field" >
						    <select materialize="material_select" [disabled]="isDisabled?true:null" name="id_seccion" [(ngModel)]="estudiantes.id_seccion" required>
						      <option value="" disabled selected>Sección</option>
						      <option  *ngFor="let seccion of secciones" [(ngValue)]="seccion.id_seccion">{{seccion.descrp_sec}}</option> 
						    </select>
						    <label>Seleccionar Sección</label>
						</div>
			        </div>
			        <div class="col s4 m4 l4 ">
			        	<div class="input-field inline">
				          	<select materialize="material_select" [materializeSelectOptions]="" name="periodos" required [(ngModel)]="estudiantes.id_periodo">
				          		<option value="" disabled selected>Periodos</option>
						      	<option  *ngFor="let periodos of periodo" [(ngValue)]="periodos.id_periodo">{{periodos.descrip_peri}}</option> 
						    </select>
						    <label>Seleccionar Periodo</label>
				        </div> 
			        </div>
			      </div>
			    </form>
			</div>
	    <div class="card-action">
	      <a (click)="doSubmit()" class="left">Enviar</a>
	      <a class="right" (click)="goBack()">Regresar</a>
	    </div>
	  </div>
	</div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>


          

