/*@media only screen and (min-width: 1200px){
	.modal{
		 width: 50% !important ; 
		 height: 50% !important ; 
		 top: 30%;
	}
}
@media only screen and (max-width: 992px){
	.modal{
		 width: 50% !important ; 
		 height: 50% !important ; 
		 top: 30%;
	}
}*/

.tabs .tab a {
	color: #ffab40 ;
}
.tabs .tab a:hover, .tabs .tab a.active {
	color: #ffab40;
}


.lista ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}
.lista li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}
@media only screen and (min-width: 1200px){
	.leyenda {
	     margin-top: 200px;
	}
	.leyenda2 {
		font-style: italic;
		display: initial;
		font-size: 16px;
	}
}
.divider{
	margin-bottom: 30px;
}
@media only screen and (min-width:  992px){
	
	
}