<div class="container center">
	<div class="row">
      <div class="col s4 ">
        <a [routerLink]="['app-notas']">
	     	<img src="assets/icons/icons8-grades-80.png">
	     	<br>
	    	<span>Cargar Notas</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['app-estadisticas']">
	      	<img src="assets/icons/icons8-combo-chart-80.png">
	      	<br>
	    	<span>Estadísticas</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-certificate-80.png">
	      	<br>
	    	<span>Certificados</span>
	    </a>
      </div>
    </div>
    <div class="divider"></div>	
    <div class="row">
      <div class="col s4 ">
        <a [routerLink]="['app-notas']">
	     	<img src="assets/icons/icons8-attendance-80.png">
	     	<br>
	    	<span>Asistencia</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-course-assign-80.png">
	      	<br>
	    	<span>Asignaturas</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-plus-1-day-80.png">
	      	<br>
	    	<span>Periodos</span>
	    </a>
      </div>
    </div>
    <div class="divider"></div>	
    <div class="row">
      <div class="col s4 ">
        <a [routerLink]="['app-notas']">
	     	<img src="assets/icons/icons8-schedule-80.png">
		    <br>
		    <span>Horarios</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-training-80.png">
	      	<br>
	    	<span>Presentación</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-send-email-80.png">
	      	<br>
	    	<span>Enviar Correo</span>
	    </a>
      </div>
    </div>
    <div class="divider"></div>	
    <div class="row">
      <div class="col s4 ">
        <a [routerLink]="['app-notas']">
	     	<img src="assets/icons/icons8-add-user-group-woman-man-80.png">
	     	<br>
	    	<span>Agregar Docentes</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-training-80.png">
	      	<br>
	    	<span>Agregar Estudiantes</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['app-notas']">
	      	<img src="assets/icons/icons8-send-email-80.png">
	      	<br>
	    	<span>Buscar Estudiantes</span>
	    </a>
      </div>
    </div>

</div>
