<div class="container center">
	<div class="row">
      <div class="col s4 ">
        <a [routerLink]="['/app-notas']">
	     	<img class="hoverable" src="assets/icons/icons8-grades-80.png">
	     	<br>
	    	<span>Cargar Notas</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['/app-estadisticas']">
	      	<img class="hoverable" src="assets/icons/icons8-combo-chart-80.png">
	      	<br>
	    	<span>Estadísticas</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['/app-notas']">
	      	<img class="hoverable" src="assets/icons/icons8-certificate-80.png">
	      	<br>
	    	<span>Certificados</span>
	    </a>
      </div>
    </div>
    <div class="divider"></div>	
    <div class="row">
      <div class="col s4 ">
        <a [routerLink]="['/app-notas']">
	     	<img class="hoverable" src="assets/icons/icons8-attendance-80.png">
	     	<br>
	    	<span>Asistencia</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['/app-notas']">
	      	<img class="hoverable" src="assets/icons/icons8-course-assign-80.png">
	      	<br>
	    	<span>Asignaturas</span>
	    </a>
      </div>
      	<div class="col s4 ">
	        <a [routerLink]="['/app-notas']">
		     	<img class="hoverable" src="assets/icons/icons8-schedule-80.png">
			    <br>
			    <span>Horarios</span>
		    </a>
      	</div>
    </div>
    <div class="divider"></div>	
    <div class="row">
      <div class="col s4">
        <a [routerLink]="['/app-periodo']">
	      	<img class="hoverable" src="assets/icons/icons8-plus-1-day-80.png">
	      	<br>
	    	<span>Periodos</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['/app-grados']">
	      	<img class="hoverable" src="assets/icons/icons8-1st-80.png">
	      	<br>
	    	<span>Grados</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['/app-secciones']">
	      	<img class="hoverable" src="assets/icons/icons8-class-64.png">
	      	<br>
	    	<span>Secciones</span>
	    </a>
      </div>
    </div>
    <div class="divider"></div>	
    <div class="row">
      <div class="col s4 ">
        <a [routerLink]="['/app-docentes']">
	     	<img class="hoverable" src="assets/icons/icons8-add-user-group-woman-man-80.png">
	     	<br>
	    	<span>Agregar Docentes</span>
	    </a>
      </div>
      <div class="col s4">
		<a [routerLink]="['/app-estudiantes']">
	      	<img class="hoverable" src="assets/icons/icons8-add-user-group-man-man-80.png">
	      	<br>
	    	<span>Agregar Estudiantes</span>
	    </a>
      </div>
      <div class="col s4">
        <a [routerLink]="['/app-buscar-estudiantes']">
	      	<img class="hoverable" src="assets/icons/icons8-find-user-male-80.png">
	      	<br>
	    	<span>Buscar Estudiantes</span>
	    </a>
      </div>
    </div>

</div>
<!---<button class="btn waves-effect waves-light right" type="submit" name="action" (click)="grafica()">
								Aceptar
							</button>-->