<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo">AppGrades</a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['app-docentes']">Docentes</a></li>
      <li><a [routerLink]="['app-estudiantes']" >Estudiantes</a></li>
      <li><a [routerLink]="['app-pdf']" >PDF</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" data-target="dropdown1">Dropdown<i class="material-icons right" materialize="dropdown">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
