<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo">AppGrades</a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['app-pdf']" >PDF</a></li>
      <li>
        <a [routerLink]="['login']" *ngIf="!userdata" > Iniciar Sesión
        </a>
        <a [routerLink]="['app-perfil']" *ngIf="userdata" > {{userdata.username}}
          <i class="right">
            <img src="assets/icons/icons8-male-user-26.png">
          </i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
