<header>
  <nav>
      <div class="nav-wrapper">
        <a [routerLink]="['/app-menu']" class="brand-logo">AppGrades</a>
        <ul class="hide-on-large-only">
          <li>
            <a materialize="dropdown" class='dropdown-button right brand-logo' href='#' data-activates='dropdown1' *ngIf="userdata"> 
              <img src="assets/icons/icons8-menu-30 (1).png">
            </a>
            <a [routerLink]="['login']" *ngIf="!userdata" class="right brand-logo" > 
              <img src="assets/icons/icons8-menu-30 (1).png">
            </a>
          </li>  
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a [routerLink]="['login']" *ngIf="!userdata" routerLinkActive="active">
             Iniciar Sesión
            </a>
            <a [routerLink]="['app-perfil']" *ngIf="userdata" > 
              {{userdata.username}}
              <i class="right">
                <img src="assets/icons/icons8-male-user-26.png">
              </i>
            </a>
          </li>
          <li>
            <a [routerLink]="['/logout']" *ngIf="userdata" target="_self" routerLinkActive="active"> Salir
              <i class="right">
                <img src="assets/icons/icons8-shutdown-26 (1).png">
              </i>
            </a>   
          </li>
        </ul>
      </div>
  </nav>
     <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li>
        <a [routerLink]="['app-perfil']" *ngIf="userdata" >
          Perfil
        </a>
      </li>
       <li>
          <a [routerLink]="['app-menu']" *ngIf="userdata" >Menú</a>
        </li>
       <li class="divider"> </li>
       <li>
        <a [routerLink]="['/logout']">Salir
          <i class="right">
            <img src="assets/icons/icons8-shutdown-26 (1).png">
          </i>
        </a>
      </li>
    </ul>
</header>
<body>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Ayuda</a>
    </div>
  </div>
</footer>
