<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-grados-agregar'">
	<div class="row grados">
  		<div class="card col s12 m5 l6 offset-l3">
    		<div class="card-content">
				<h5 class="center">Agregar Grados</h5>
				<div class="divider"></div>
				<form #f="ngForm" class="col s12">
					<div class="row ">
				      <div class="col s12 m7 l7 offset-l3">
				        <div class="input-field">
				          <input placeholder="Ej. Primer grado" 
				          	id="first_name" 
				          	type="text" 
				          	class="validate" 
				          	pattern="[A-Za-z\s]{4,15}" 
				          	name="grados" 
				          	[(ngModel)]="grados_obj.descrip_gra"
				          	minlength="4"
				          	required 
			       			#grados="ngModel"
			       			>
			       			<div class="form-control-feedback"
							     *ngIf="grados.errors && (grados.dirty || grados.touched)">
								<p class="center" *ngIf="grados.errors.required" >Este campo es obligatorio</p>
								<p class="center" *ngIf="grados.errors.minlength">El campo no puede estar vacío</p>
								<p class="center" *ngIf="grados.errors.pattern">Este campo no puede contener números</p>
							</div>
				          <label for="first_name">Ingresa el grado</label>
				        </div>
				      </div>
				    </div>
				    <div class="row">
					    <div class="card-action">
					    	<div class="col s12 m12 l12">
					    		<a  class="right " (click)="doSubmit()"> Enviar</a>
							    <a class="left" (click)="goBack()">Regresar</a>
					    	</div>
					    </div>	
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-grados'">
	<div class="row grados">
  		<div class="card col s12 m6 l6 offset-m3 offset-l3">
    		<div class="card-content">
				<h5 class="center">Grados</h5>
				<div class="divider"></div>
				<div>
					<div class="">
						<table class="centered">
				        <thead>
				          <tr>
				              <th>Grados</th>
				              <th>--</th>
				              <th>Eliminar Grado</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr *ngFor="let grado of grados">
				            <td>{{grado.descrip_gra}}</td>
				            <td>
				            	
				            </td>
				             <td>
				             	<button (click)="borrarGra(grado.id_grados)">
				             		<img src="assets/icons/icons8-cancel-80.png">
				             	</button>
				             </td>
				          </tr>
				          
				        </tbody>
				      </table>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col s12 m12 l6 offset-l3">
				<a class="btn-floating btn-large waves-effect waves-light red right" routerLink='/app-grados-agregar'><i class="material-icons">add</i></a>
			</div>
		</div>
	</div>
</div>
