<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-grados-agregar'">
	<div class="row grados">
  		<div class="card col s12 m5 l6 offset-l3">
    		<div class="card-content">
				<h5 class="center">Agregar Grados</h5>
				<div class="divider"></div>
				<form class="col s12" (ngSubmit)="doSubmit()" >
					<div class="row ">
				      <div class="col s12 m7 l7 offset-l3">
				        <div class="input-field">
				          <input placeholder="Ej. Primer grado" id="first_name" type="text" class="validate" pattern="[A-Za-z]" name="grados" [(ngModel)]="grados_obj.descrip_gra">
				          <label for="first_name">Ingresa el grado</label>
				        </div>
				      </div>
				    </div>
				    <button class="waves-effect waves-green btn-flat right">
				    	enviar
				    </button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-grados'">
	<div class="row grados">
  		<div class="card col s12 m6 l6 offset-m3 offset-l3">
    		<div class="card-content">
				<h5 class="center">Grados</h5>
				<div class="divider"></div>
				<div>
					<div class="">
						<table class="centered">
				        <thead>
				          <tr>
				              <th>Grados</th>
				              <th>--</th>
				              <th>Eliminar Grado</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr *ngFor="let grado of grados">
				            <td>{{grado.descrip_gra}}</td>
				            <td>
				            	
				            </td>
				             <td>
				             	<button (click)="borrarGra(grado.id_grados)">
				             		<img src="assets/icons/icons8-cancel-80.png">
				             	</button>
				             </td>
				          </tr>
				          
				        </tbody>
				      </table>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col s12 m12 l6 offset-l3">
				<a class="btn-floating btn-large waves-effect waves-light red right" routerLink='/app-grados-agregar'><i class="material-icons">add</i></a>
			</div>
		</div>
	</div>
</div>
