
.divider{
	margin-bottom: 30px;
}
input[type=text]:not(.browser-default){
	padding-top: 20px;
}
button {
  background: none;
  border: 0;
  color: inherit;
}
@media only screen and (min-width:  992px){
	
	
}