<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-secciones-agregar'">
	<div class="row grados">
  		<div class="card col s12 m8 l6 offset-m2 offset-l3">
    		<div class="card-content">
				<h5 class="center">Agregar Secciones</h5>
				<div class="divider"></div>
				<form #f="ngForm" class="col s12" (ngSubmit)="doSubmit()" >
					<div class="row ">
				        <p class="center">
				        	Debes introducir la letra de la sección
				        </p>
				      <div class="col s12 m7 l7 offset-l3">
				        <div class="input-field" [ngClass]="{
						        'has-danger': secciones.invalid && (secciones.dirty || secciones.touched),
						        'has-success': secciones.valid && (secciones.dirty || secciones.touched)}">
				          <input placeholder="Ej. Sección A" 
				          id="first_name" 
				          type="text" 
				          class="validate"
				          name="secciones" 
				          [(ngModel)]="secciones_obj.descrp_sec"
				          required
				          maxlength="9" 
				          #secciones="ngModel"
				          onkeydown="if ((event.keyCode >= 65 && event.keyCode <= 90)||(event.keyCode >= 97 && event.keyCode <=122) || event.key == 'Ñ' || event.key == 'ñ') return true 
				          	else return false "
				         onkeyup="this.value=this.value.toUpperCase()"
				         >
				          <div class="form-control-feedback"
							     *ngIf="secciones.errors && (secciones.dirty || secciones.touched)">
								<p  color="red" class="center" *ngIf="secciones.errors.required" >Este campo en obligatorio</p>
								<p class="center" *ngIf="secciones.errors.pattern">Solo puedes ingresar letras</p>
							</div>
				          <label for="first_name">Ingresa la sección</label>
				        </div>
				      </div>
				    </div>
				    <div class="row">
					    <div class="card-action">
					    	<div class="col s12 m12 l12">
						      	<a class="right " (click)="doSubmit()">Enviar</a>
							    <a class="left" (click)="goBack()">Regresar</a>
					    	</div>
					    </div>	
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container"  *ngIf="route.snapshot.url[0].path == 'app-secciones'">
	<div class="row grados">
  		<div class="card col s12 m6 l6 offset-m3 offset-l3">
    		<div class="card-content">
				<h5 class="center">Secciones</h5>
				<div class="divider"></div>
				<div>
					<div class="">
						<table class="centered">
				        <thead>
				          <tr>
				              <th>Sección</th>
				              <th>--</th>
				              <th>Eliminar Sección</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr *ngFor="let seccion of secciones">
				            <td>{{seccion.descrp_sec}}</td>
				            <td>
				            	
				            </td>
				             <td>
				             	<swal
					                #deleteSwal
					                title="Eliminar grado"
					                text="¿Esta seguro que desea eliminar esta sección?"
					                type="question"
					                [showCancelButton]="true"
					                (confirm)="borrarSec(seccion.id_seccion)">
					            </swal>
				             	<button [swal]="deleteSwal">
				             		<img src="assets/icons/icons8-cancel-80.png">
				             	</button>
				             </td>
				          </tr>
				          
				        </tbody>
				      </table>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col s12 m12 l6 offset-l3">
				<a class="btn-floating btn-large waves-effect waves-light black right" routerLink='/app-secciones-agregar'><i class="material-icons">add</i></a>
			</div>
		</div>
	</div>
</div>
