<div class="container">
	<div class="row">
	    <div class="col s12 m6 l6 offset-l3">
	      <div class="card">
	        <div class="card-content center">
	          <span class="card-title">Boletin creado exitosamente</span>
	          <p>
	          	Debes presionar <strong> descargar</strong> para imprimir el boletin
	          </p>
	        </div>
	        <div class="card-action">
	        	<a (click)="goBack()">Regresar</a>
	          <a class="right" (click)="PDF()">Descargar</a>
	        </div>
	      </div>
	    </div>
	  </div>
</div>