/* You can add global styles to this file, and also import other style files */

nav {
	background-color: #24292e;
}
footer {
	background-color: #24292e;

}
.page-footer {
   padding-top: 0px;
}
button {
  background: none;
  border: 0;
  color: inherit;
}
.card {
  margin-top: 50px;
}
.card-panel {
  margin-top: 50px;
}
@media only screen and (max-width: 992px){
nav .brand-logo {
    left: 30%;
}}